name: test suite
on: [push, pull_request]

jobs:
  test:
    name: cargo test
    strategy:
      matrix:
        version: [ubuntu-latest, ubuntu-22.04, ubuntu-20.04, macos-latest]
    runs-on: ${{ matrix.version }}
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo test --lib

  test-packages:
    name: make test-packages
    strategy:
      matrix:
        version: [ubuntu-latest]
    runs-on: ${{ matrix.version }}
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo test --lib
      - run: make test-packages
